filesPath=/Users/alexb/blinkbox/perf/resource_server/scala/files/

maxDynamicResponseTimeInMillis=300
maxStaticResponseTimeInMillis=100

apiScheme=
apiHostname=
apiPort=
wwwScheme=
wwwHostname=
wwwPort=
authScheme=
authHostname=
authPort=
mediaScheme=http
mediaHostname=localhost
mediaPort=8080


